body{
    background-image: url(https://static.pexels.com/photos/8614/painting-black-paint-roller-large.jpg);
    background-size: cover;
    background-color: #000000;
    overflow: hidden;
    }

#info{
	font-family: helvetica;
  color: white;
	background-color: rgba(0, 0, 0, 0.8);
	width: 30%;
	height: 100%;
	left: 0%;
	top: 0%;
	padding: 1%;
	position: absolute;
}
#mail-button {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
#mail-choice{
	border: 5px solid #000;
	width: 40%;
	height: auto;
	text-align: top;
  background-color: white;
  padding: 5px;
  left: 20%;
  top: 30%;
  color: black;
  font-family: helvetica;
  z-index: 1000;
  position: absolute;
}
#mail-choice a{
	color: blue;
	text-decoration: none;
}
#mail-choice a:hover {
	color: gray;
}
ul{
	list-style: none;
}

#mail-choice div{
	padding: 0;
  margin: 0;
  height: 100%;
}

.box {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 50%;
    padding: 10px;
}
.box:first-child {
    border-bottom: 1px transparent;
    border-right: 3px transparent;
}
.box:nth-child(2) {
    border-bottom: 1px transparent;

}
.box:nth-child(3) {
    border-right: 3px transparent;
}
.mail-logo-img{
	width:10%;
	display: inline-block;
}
#gmail-button,#aol-button,#yahoo-button,#msn-button,#mail-to-button{
    text-align: left;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    /*margin-right: 10px;*/
    font-size: 16px;
    cursor: pointer;
    width:98%;
    height:98%;
    color: white;
    font-family: helvetica;
    
}
#gmail-button{
		background-color: #e75a4d; 
}
#aol-button{
	background-color: #005ca5;
}
#yahoo-button{
	background-color: #440098;
}
#msn-button{
	background-color: #306bb5;
}
#mail-to-button{
	background-color: green;
}
